/*Стилизация главной страницы*/
/*Обнуление*/
* {
	margin: 0;
	padding: 0;
	transition: all 1s ease;
}

/*Подключаем щрифты*/
@font-face {
	font-family: 'Lato', sans-serif;
	src: url('../fonts/lato');
}

body {
	display: flex;
	justify-content: center;
}

/*Наша оболочка*/
.wrapper {
	width: 100%;
	min-height: 100%;
	position: absolute;
}

/*Стилизация версии*/
.container__version {
  width: 20%;
  position: absolute;
  left: 40%;
  height: 7%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12%;
  animation-name: version;
  animation-duration: 2.5s;
  animation-direction: alternate;
  animation-iteration-count: 2;
  animation-delay: 1s;
  z-index: 100;
}

.version {
  color: #000;
  text-align: center;
  font-family: monospace, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  z-index: 150;
}

.version::before, .version::after {
	content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   width: 230px;
   height: 100px;
   z-index: -10;
}

.version::before {
	color: #ee1b52;
   animation: glitch 1s infinite;
}

.version::after {
	color: #69c9d0;
   animation: glitch 2s infinite;
}

/*Анимация версии*/
@keyframes glitch {
   0% {
      top: -2px;
      left: -1px;
   }
    25% {
      top: 0px;
      left: 1px;
   }
    50% {
      top: 2px;
      left: -1px;
   }
    75% {
      top: 0px;
      left: 1px;
   }
    100% {
      top: -2px;
      left: -1px;
   }
}

@keyframes version {
  0% {top: -12%;}
  100% {top: 0%;}
}

/*Шапка*/
.header {
   width: 100%;
	height: 80px;
	box-shadow: 0px 0px 10px #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}

/*Плашка шапки*/
.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 3;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1180px;
	margin: 0 auto;
}

.header__body {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
}

/*Стилизация логотипа*/
.header__logo {
	height: 80px;
   display: flex;
   justify-content: flex-start;
   padding-left: 15px;
   position: relative;
   z-index: 5;
}

.header__icon {
	display: flex;
	align-items: center;
	padding-right: 10px;
}

.header__icon img {
	width: 50px;
	height: 50px;
}

.header__span {
	display: flex;
	align-items: center;
}

.header__span-main {
	font-size: 20px;
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bold;
}

#header__span-1 {
	color: #69c9d0;
	font-size: 23px;
	margin: 0 5px 0 0;
}

/*Кнопка бургер*/
.header__burger {
	margin-right: 15px;
	width: 30px;
	height: 16px;
	order: 2;
	display: flex;
	align-items: center;
}

.header__burger span {
	display: none;
	height: 2px;
	width: 30px;
	background-color: #000;
}

.header__menu {
	height: 100%;
	order: 1;
	padding: 0 10px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 3;
}

.header__list li {
	list-style: none;
	padding-right: 20px;
	text-align: right;
}

#home {
	color: #ee1b52;
}

.header__link {
	color: #000;
	font-family: 'Lato-Regular', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.article {
	margin: 150px 0 0 0;
	height: 100%;
	font-family: 'Lato-Bold', sans-serif;
	display: flex;
	flex: 0 0 auto;
	position: relative;
	z-index: 5;
}

/*Фон*/
.background {
	width: 100%;
	height: 210%;
   display: flex;
   justify-content: flex-end;
   position: absolute;
   left: 0;
   z-index: 1;
   overflow: hidden;
}
/*Первый шар*/
.span1 {
	width: 900px;
	height: 900px;
	background: linear-gradient(45deg, #ee1b52, #00FFFFFF);
	border-radius: 50%;
	position: relative;
	top: -150px;
	left: 500px;
	z-index: 1;
	display: flex;
	flex-shrink: 0;
	animation-name: span;
	animation-duration: 5s; 
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite; 
	transition-timing-function: linear;
}

@keyframes span {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
/*Второй шар*/
.span2 {
	width: 300px;
	height: 300px;
	background: linear-gradient(45deg, #69c9d0, #000);
	border-radius: 50%;
	position: relative;
	top: 525px;
	right: 450px;
	z-index: 3;
	display: flex;
	flex-shrink: 0;
	animation-name: span;
	animation-duration: 5s; 
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite; 
	transition-timing-function: linear;
}
/*Линия 1*/
.span3 {
	width: 5000px;
	height: 10px;
	z-index: 2;
	border-radius: 30px;
	position: absolute;
	top: 0;
	left: 0px;
	background-color: #FFFFFFFF;
	animation-name: span;
	animation-duration: 10s; 
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite; 
	transition-timing-function: linear;
}
/*Линия 2*/
.span4 {
	width: 5000px;
	height: 10px;
	z-index: 2;
	border-radius: 30px;
	position: absolute;
	top: 0;
	left: 0px;
	background-color: #FFFFFFFF;
	animation-name: span;
	animation-duration: 17s; 
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite; 
	transition-timing-function: linear;
}
/*Первый блок*/
.container-1 {
	width: 100%;
	margin: 0 auto;
	padding: 0 0 0 15px;
	display: flex;
}

.article__span {
	letter-spacing: 2px;
}

.article__section-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	text-transform: uppercase;
}

.article__section-1 h1 {
	letter-spacing: 4px;
	font-size: 25px;
}

.article__list {
	margin: 0 0 7px 0;
}

.article__list span {
	color:  #ee1b52;
}

.article__list-div1 {
	font-size: 40px;
	color: #000;
}

.article__list-div2 {
	font-size: 30px;
	color: #000;
}
/*Второй блок*/
.container-2 {
	display: flex;
	width: 100%;
	height: 800px;
	position: absolute;
	top: 500%;
	left: 0;
	background-color: #282828FF;
	justify-content: space-around;
}

.article__span {
	position: absolute;
	top: 120%;
	left: 10%;
   font-family: monospace, sans-serif;
   font-size: 15px;
   font-weight: bold;
   color: #00ffff;
   position: absolute;
}

.article__section-2 {
	width: 365px;
   height: 250px;
   background-image: url(../images/img/lastProject.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   flex-direction: column;
   position: relative;
   top: -30px;
   border-radius: 10px;
}

.article__shadow {
	width: 100%;
	align-items: flex-end;
	box-shadow: 0 0 20px #000;
	background-color: #1C1C1CFF;
}

.article__shadow:active {
	box-shadow: 0 0 100px #000;
}

.article__span-1 {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bolder;
	display: flex;
	margin: 10px 0 0 15px;
	color: #FFD800FF;
}

.article__span-2 {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	color: #404040FF;
	margin: 0 0 15px 15px;
	color: #fff;
}

.article__section-3 {
   width: 250px;
   height: 250px;
   display: flex;
   background-color: #161616FF;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   position: relative;
   top: -30px;
   border-radius: 10px;
}

.article__span-3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bolder;
	margin: 5px 0 10px 15px;
	color:  #69c9d0;
}

.article__span-4 {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	margin: 10px 0 0 15px;
	color: #fff;
}

.article__section-4 {
	width: 250px;
   height: 250px;
   display: flex;
   background-color: #161616FF;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   position: relative;
   top: -30px;
   border-radius: 10px;
}

.article__section-5 {
	width: 250px;
   height: 250px;
   display: flex;
   background-color: #161616FF;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   position: relative;
   top: -30px;
   border-radius: 10px;
}
/*Третий блок*/
.container-3 {
   width: 85%;
   height: 600px;
   background-color: #282828FF;
   position: absolute;
	top: 700%;
	left: 0;
	z-index: 1;
	justify-content: space-between;
	flex: 0 1 auto;
   }

.article__section-6 {
   width: 60%;
   height: 600px;
   margin: 0 0 0 50px;
   position: relative;
   left: -40%;
}

.article__span-5 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	display: flex;
	margin: 10px 0 0 0;
	color:  #69c9d0;
}

.article__span-main {
	color: #69c9d0;
	padding: 0 5px 0 5px;
	min-width: 65px;
	max-height: 30px;
}

.article__span-6 {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bolder;
	display: flex;
	margin: 10px 0 30px 0;
	color:  #fff;
	letter-spacing: 3px;
}

.article__span-7 {
	font-size: 12px;
	display: flex;
	margin: 0 0 15px 0;
	color:  #E5E5E5FF;
	font-family: 'Lato-Thin', sans-serif;
	letter-spacing: 2px;
}

.article__span-8 {
	font-size: 10px;
	display: flex;
	margin: 0 0 20px 0;
	color:  #939393FF;
	font-family: 'Lato-Thin', sans-serif;
	letter-spacing: 2px;
}
/*Кнопка*/
.article__button {
	text-transform: uppercase;
	color: #161616FF;
	font-size: 11px;
	padding: 8px 20px 8px 20px;
	background-color: #ee1b52;
	border-radius: 30px;
	display: inline;
	font-family: 'Lato-Bold', sans-serif;
	position: relative;
	top: 60px;
	left: 0;
}

.article__button a {
	font-weight: bolder;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
}

.article__button:active {
   background-color: #291FD5FF;
   color: #000;

}

.article__section-7 {
   width: 40%;
   height: 600px;
   position: absolute;
   top: 0;
   left: 40%;
}
/*Картинка*/
#article__section-7--img-1 {
   width: calc(807px / 1.3);
   height: calc(605px / 1.3);
   background-size: cover;
   position: absolute;
   top: 3%;
   left: 20%;
   z-index: 2;
   border-radius: 20px;
}
/*Четвертый блок*/
.container-4 {
	width: 100%;
	height: 500px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(600px + 600%);
	z-index: 2;
	left: 0;
}

.article__section-8 {
	width: 80%;
	height: 400px;
}

.article__div-1 {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#container-4__span-1 {
	text-transform: uppercase;
	color:  #69c9d0;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 0 0 10px 0;
}

#container-4__span-2 {
	text-transform: uppercase;
	color: #000;
	font-size: 25px;
	letter-spacing: 1px;
	margin: 0 0 10px 0;
}

#article__span-main-1 {
	color: #69c9d0;
}

#container-4__span-3 {
	color: #000;
	font-size: 12px;
	margin: 0 0 10px 0;
	letter-spacing: 1px;
}

.article__block {
   width: 80%;
   height: 300px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 10% 0 10%;
}

.article__div-2 {
	width: 150px;
	height: 170px;
	text-transform: uppercase;
}

.article__div-3 {
	width: 150px;
	height: 170px;
	text-transform: uppercase;
}

.article__div-4 {
	width: 150px;
	height: 170px;
	text-transform: uppercase;
}

.article__div-5 {
	width: 150px;
	height: 170px;
	text-transform: uppercase;
}

.container-4__span-4 {
   text-transform: uppercase;
   font-size: 50px;
   color: #5B5B5BFF;
   display: block;
}

.container-4__span-5 {
	text-transform: uppercase;
	font-size: 13px;
	color: #000;
	text-align: left;
}

.article__button-1 {
	text-transform: uppercase;
	color: #161616FF;
	font-size: 11px;
	padding: 8px 20px 8px 20px;
	background-color: #ee1b52;
	border-radius: 30px;
	display: inline;
	font-family: 'Lato-Bold', sans-serif;
	position: relative;
	left: calc(50% - (89.69px / 2));
}

.article__button-1 a {
	font-weight: bolder;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
}

.article__button-1:active {
   background-color: #291FD5FF;
   color: #000;
}
/*Пятый блок*/
.container-5 {
	width: 100%;
	height: 700px;
	background-color: #282828FF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: calc(500px + 980%);
	z-index: 2;
	left: 0;
}

.article__section-9 {
	width: 80%;
	height: 1100px;
}

.article__div-6 {
	width: 100%;
	height: 550px;
	display: flex;
	justify-content: center;
}

.container-5__span-6 {
	width: 300px;
	height: 250px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: url(../images/icon/coursHTML.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #111111FF;
	margin: 0 15px 0 0;
	position: relative;
	bottom: 0;
	z-index: 1;
	border-radius: 15px;
	box-shadow: 0 0 10px #000;
}

.container-5__span-6:hover {
	background-size: contain;
}

.container-5__span-7 {
	width: 300px;
	height: 250px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: url(../images/icon/coursCSS.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #111111FF;
	margin: 0 15px 0 0;
	position: relative;
	bottom: 3%;
	z-index: 1;
	border-radius: 15px;
	box-shadow: 0 0 10px #000;
}

.container-5__span-7:hover {
	background-size: contain;
}

.container-5__span-8 {
	width: 300px;
	height: 250px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: url(../images/icon/coursJS.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #111111FF;
	position: relative;
	bottom: 0;
	z-index: 1;
	border-radius: 15px;
	box-shadow: 0 0 10px #000;
}

.container-5__span-8:hover {
	background-size: contain;
}

.span__main-2 {
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	margin: 10px 0 10px 10px;
	position: relative;
	bottom: 5%;
	right: 15%;
}

.span__main-4 {
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	margin: 10px 0 10px 10px;
	position: relative;
	bottom: 5%;
	right: 20%;
}

.span__main-6 {
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	margin: 10px 0 10px 10px;
	position: relative;
	bottom: 5%;
	right: 30%;
}

.container-5__div {
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #FF2000FF;
	position: relative;
	z-index: 1;
	bottom: 8%;
}

.container-5__div-1 {
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #0094FFFF;
	position: relative;
	z-index: 1;
	bottom: 8%;
}

.container-5__div-2 {
	min-width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #FFD800FF;
	position: relative;
	z-index: 1;
	bottom: 8%;
}

.container-5__span-9 {
	display: block;
	min-width: 10px;
	max-width: 10px;
	height: 3px;
	background-color: #fff;
	position: relative;
	z-index: 2;
	top: 37%;
	left: 35%;
   transform: rotate(45deg);
}

.container-5__span-10 {
	display: block;
	min-width: 10px;
	max-width: 10px;
	height: 3px;
	background-color: #fff;
	position: relative;
	z-index: 2;
	top: 43%;
	left: 35%;
	transform: rotate(-45deg);
}

.article__div-7 {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	transform: translate(0, 150%);
}

.article__section-9-img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 0 15px 0;
}

.container-5__span-11 {
	text-transform: uppercase;
	font-size: 17px;
	color: #fff;
	letter-spacing: 2px;
	margin: 0 0 10px 0;
}

#article__span-main-2 {
	text-transform: uppercase;
	color: #0094FFFF;
	font-size: 23px;
}

.container-5__span-12 {
	font-size: 20px;
	color: #fff;
	letter-spacing: 3px;
}

.container-5__span-13 {
	font-size: 14px;
	color: #AFAFAFFF;
	margin: 20px 0 0 0;
	text-align: center;
	letter-spacing: 2px;
}

.container-5__span-14 {
	font-size: 13px;
	color: #939393FF;
	margin: 10px 0 0 0;
	text-align: center;
	letter-spacing: 3px;
}

/*Футер*/
.footer {
	width: 100%;
	height: 100px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	font-family: 'Lato-Bold', sans-serif;
}

.footer__container {
	width: 1180px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer__section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 45%;
	height: 70px;
}

.footer__section-1 {
	width: 45%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__section-1 span {
	letter-spacing: 1px;
}

.footer__span {
	font-size: 25px;
	font-weight: bold;
	position: relative;
	bottom: 3%;
	letter-spacing: 1px;
	color: #69c9d0;
}

.footer__span-main {
	font-size: 25px;
	color: #000;
	margin: 0 5px 0 0;
}

.footer__section a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

.footer__section a:active {
	padding: 20px;
}


/*Медиа-запросы*/
@media (max-width: 2560px) {
   .container-3 {
   	display: flex;
   	justify-content: center;
   	align-items: center;
   }

   .container-2 {
   	display: flex;
   	justify-content: center;
   }

   .article__section-2 {
   	margin: 0 20px 0 0;
   }

   .article__section-3 {
   	margin: 0 20px 0 0;
   }

   .article__section-4 {
   	margin: 0 20px 0 0;
   }

   .article__section-5 {
   	margin: 0 20px 0 0;
   }

   .article__section-6 {
   	position: relative;
   	left: 30%;
   }

   .article__section-7 {
   	position: relative;
   	left: -13%;
   }

   .article__div-7 {
   	transform: translate(0, -200%);
   }

   .container-1 {
   	display: flex;
   	justify-content: center;
   	text-align: center;
   }

   .article__span {
   	position: absolute;
   	left: calc(50% - (267.67px / 2));
   	color: #000;
   	font-family: monospace;
   }

   .span__main-1 {
   	bottom: 25%;
   }

   .span__main-3 {
   	bottom: 25%;
   }

   .span__main-5 {
   	bottom: 25%;
   }
}

@media (max-width: 1440px) {
	.article__section-6 {
		position: relative;
		left: 10%;
	}

	.article__section-7 {
		position: relative;
		left: -25%;
	}
}

@media (max-width: 1024px) {
	.article__section-7 {
   	display: none;
   }
   .container-3 {
   	width: 100%;
   }
   
   .article__section-6 {
		position: relative;
		left: -10%;
		margin: 0;
	}

	.article__section-7 {
		position: relative;
		left: 0;
	}

	.container-5__span-7 {
		bottom: 3%;
	}

   .container__version {
   	width: 25%;
   	height: 5%;
   }
}

@media (max-width: 1500px){
	#article__section-7--img-1 {
		width: calc(807px / 1.4);
      height: calc(605px / 1.4);
      left: 50%;
      transition: width 0.4s;
      transition: height 0.4s;
	}
}

@media (max-width: 1180px) {
	.span1 {
		width: 650px;
		height: 650px;
	}

	.span2 {
		width: 225px;
		height: 225px;
		top: 300px;
		right: 250px;
	}

	.span3 {
		width: 1500px;
		height: 8px;
		left: 300px;
	}

	.span4 {
		width: 1500px;
		height: 8px;
		left: 600px;
	}

	.container-2 {
	   top: 350%;
   }

   .article__section-2{
   	width: 300px;
   }

   .article__section-3 {
   	width: 200px;
   }

   .article__section-4 {
   	width: 200px;
   }

   .article__section-5 {
   	width: 200px;
   }

   .article__shadow {
   	background-color: #1C1C1CFF;
   }

   .article__span-1 {
   	color: #FFD800FF;
   }

   .article__span-2 {
   	color: #fff;
   }

   .container-3 {
   	top: 530%;
   }

   #article__section-7--img-1 {
   	width: calc(807px / 1.8);
      height: calc(605px / 1.8);
      left: 60%;
   }

   .container-4 {
   	top: calc(600px + 450%);
   }

   .container-5 {
   	top: calc(500px + 820%);
   }

   .container-5__span-6 {
   	position: relative;
   	top: 3%;
   }

   .container-5__span-7 {
   	bottom: 0;
   }

   .container-5__span-8{
   	position: relative;
   	top: 3%;
   }
}

@media (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}

	.header__menu {
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.6s ease 0s;
		width: 100%;
		height: 100%;
		background-color: #303030FF;
		padding: 70px 0 0 0;
		display: flex;
	   justify-content: space-between;
	   overflow: auto;
	}

	.header__list {
		display: block;
		margin: 0 0 0 20px;
	}

	.header__list li {
		margin: 0 0 30px 0;
	}

	.header__list li:hover {
		padding: 12% 137% 10% 15%;
		position: relative;
		right: 28%;
		border-left: 10px solid #69c9d0;
		background-color: #000;
	}

	#home {
		padding: 12% 130% 10% 15%;
		position: relative;
		right: 35%;
		border-left: 10px solid #69c9d0;
		background-color: #000;
		color: #fff;
	}

	.header__link {
      color: #fff;
	}

	.header {
		height: 50px;
	}

	.header::before {
		box-shadow: 0px 0px 10px #fff;
	}

	.header__logo {
      height: 50px;
	}

	.header__icon img {
      width: 35px;
      height: 35px;
	}

   .header__burger {
   	display: block;
   	position: relative;
   	width: 30px;
   	height: 16px;
   	z-index: 3;
   }

   .header__burger span {
   	display: block;
   	position: absolute;
   	background-color: #000;
   	left: 0;
   	width: 100%;
   	height: 2px;
      top: 7px;
      transition: all 0.8s ease 0s;
   }

   .header__burger::before,
   .header__burger::after {
      content: '';
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.4s ease 0s;
   }

   .header__burger::before {
   	top: 0;
   }

   .header__burger::after {
   	bottom: 0;
   }

   .header__burger.active::before {
   	transform: rotate(45deg);
   	top: 7px;
   }

   .header__burger.active::after {
   	transform: rotate(-45deg);
   	bottom: 7px;
   }

   .header__burger.active span {
   	transform: scale(0);
   }

   .header__menu.active {
   	right: -85%;
   }

   .article {
   	margin: 80px 0 0 0;
   }

   .article__section-1 h1 {
   	letter-spacing: 3px;
   	font-size: 15px;
   }

   .span1 {
   	width: 600px;
   	height: 600px;
   }

   .span2 {
   	width: 150px;
   	height: 150px;
   	position: relative;
   	top: 225px;
   	right: 120px;
   }

   .span3 {
		width: 2200px;
		height: 5px;
		left: 50px;
	}

	.span4 {
		width: 2200px;
		height: 5px;
		left: 50px;
	}

	.article__list-div1 {
	   font-size: 27px;
	   color: #000;
   }

   .article__list-div2 {
	   font-size: 17px;
	   color: #000;
   }

   .container-2 {
	   top: 300%;
	   height: 550px;
	   display: flex;
   	flex-wrap: wrap;
   }

   .article__section-2, 
   .article__section-3,
   .article__section-4,
   .article__section-5 {
   	margin: 0 0 15px 0;
   }

   .article__section-5 {
   	display: none;
   }

   .container-3 {
   	width: 100%;
   	top: 478%;
   }

   .article__section-6 {
   	width: 80%;
   	left: 0;
   }

   .container-4__span-5 {
      font-size: 9px;
      letter-spacing: 0;
   }

   .container-5 {
   	top: calc(500px + 1000%);
   }

   .container-5__span-6 {
   	height: 175px;
   }

   .container-5__span-7 {
   	height: 175px;
   }

   .container-5__span-8 {
   	height: 175px;
   }

   .span__main-2 {
   	font-size: 10px;
   }

   .span__main-3 {
   	right: 0;
   }

   .span__main-4 {
   	font-size: 10px;
   }

   .span__main-5 {
   	position: relative;
   	top: -20%;
   }

   .span__main-6 {
   	font-size: 10px;
   	top: 0;
   	margin: 0 0 10px 10px;
   }

   .footer__span {
   	font-size: 15px;
   	letter-spacing: 2px;
   }

   .footer__span-main {
   	font-size: 15px;
   }

   .footer__section a {
   	font-size: 12px;
   }

   .footer__section-1 {
   	font-size: 10px;
   }

   .container__version {
   	width: 30%;
   	height: 5%;
   }

   .article__shadow {
   	position: relative;
   	bottom: 10%;
   }
}

@media (max-width: 455px) {

   .header__menu.active {
   	right: -67%;
   }

   .header__list li:hover {
		padding: 12% 175% 10% 15%;
		position: relative;
		right: 35%;
		border-left: 10px solid #69c9d0;
		background-color: #000;
	}

	#home {
		padding: 12% 175% 10% 15%;
		position: relative;
		right: 35%;
		border-left: 10px solid #69c9d0;
		background-color: #000;
	}

   .article__section-2,
	.article__section-3,
   .article__section-4,
   .article__section-5 {
   	width: 90%;
   }

   .article__section-3,
   .article__section-4 {
      display: none;
	}

   .article__span-2 {
   	font-size: 15px;
   }

   #list-blue {
   	color: #fff;
   }

   .container-2 {
   	height: 1150px;
   	left: 0;
   }

   .container-3 {
   	top: 500%;
   	width: 100%;
   	left: 0;
   }

   .wrapper {
   	width: 100%;
   }

   .article__section-6 {
      margin: 0 auto;
   }

   .article__span-5 {
      font-size: 10px;
   }

   .article__span-6 {
   	font-size: 16px;
   }

   .article__span-7 {
   	font-size: 10px;
   }
   
   .article__span-8 {
   	font-size: 9px;
   }

   .container-4 {
   	height: 850px;
   	align-items: flex-start;
   }

   .article__section-8 {
   	margin: 15px 0 0 0;
   	height: 700px;
   }

   .article__block {
   	display: flex;
   	flex-direction: column;
   	align-items: center;
   }

   .article__div-2 {
   	margin: 15px 0 0 0;
   }

   .article__div-3 {
   	margin: 15px 0 0 0;
   }

   .article__div-4 {
   	margin: 15px 0 0 0;
   }

   .article__div-5 {
   	margin: 15px 0 0 0;
   }

   .article__block {
   	height: 575px;
   }

   #container-4__span-2 {
   	margin: 0 0 20px 0;
   	text-align: center;
   }
   .container-4__span-4 {
   	display: flex;
   	justify-content: center;
   }

   .container-4__span-5 {
      display: flex;
   	justify-content: center;
   	font-size: 12px;
   	text-align: center;
   }

   .container-5 {
   	top: calc(500px + 1100%);
   	height: 1100px;
   	align-items: center;
   }

   .article__div-6 {
   	display: flex;
   	flex-direction: column;
   	align-items: center;
   	position: relative;
   	top: 30%;
   }

   .container-5__span-6,
   .container-5__span-7,
   .container-5__span-8 {
      min-height: 250px;
   }
   
   .container-5__span-6 {
   	margin: 0 0 20px 0;
   }

   .container-5__span-7 {
   	margin: 20px 0 10px 0;
   }

   .span__main-1 {
   	font-size: 12px;
   	top: -20%;
   	left: 3%;
   }

   .span__main-2 {
   	font-size: 15px;
   	left: -12%;
   	top: 0;
   }

   .span__main-3 {
   	font-size: 12px;
   	top: -20%;
   	left: -15%;
   }

   .span__main-4 {
   	font-size: 15px;
   	left: -25%;
   	top: 0;
   }

   .span__main-5 {
   	font-size: 12px;
   	top: -20%;
   	left: 3%;
   }

   .span__main-6 {
   	font-size: 15px;
   	left: -12%;
   	top: 0;
   }

   .article__div-7 {
   	top: 71%;
   }

   .article__section-9 {
   	position: relative;
   	top: -15%;
   }

   .footer {
   	height: 180px;
   	position: relative;
   	top: 10%;
   }

   .footer__section {
   	flex-direction: column;
   }

   .footer__section a {
   	margin: 0 0 10px 0;
   }

   .footer__section-1 {
   	margin: 20px 0 0 0;
   }

   .footer__span {
   	font-size: 12px;
   	letter-spacing: 1px;
   	margin: 0 0 10px 0; 
   }

   .footer__span-main {
   	font-size: 12px;
   }

   .footer__section a {
   	font-size: 10px;
   }

   .footer__section-1 {
   	font-size: 9px;
   }

   .container__version {
   	width: 70%;
   	height: 5%;
   	border-radius: 5px;
   	left: 15%;
   }

   .article__shadow {
   	position: relative;
   	bottom: 0;
   }
}

@media (max-width: 375px) {
	.header__list li:hover {
		padding: 12% 150% 10% 15%;
		position: relative;
		right: 35%;
		border-left: 10px solid #69c9d0;
		background-color: #000;
	}

	#home {
		padding: 12% 150% 10% 15%;
		position: relative;
		right: 35%;
		border-left: 10px solid #69c9d0;
		background-color: #000;
	}

	.article__shadow {
      position: relative;
      bottom: 10%;
	}
}
