/*Обнуление*/
* {
	margin: 0;
	padding: 0;
	transition: all 1s ease;
}

/*Подключаем щрифты*/
@font-face {
	font-family: 'Lato', sans-serif;
	src: url('../fonts/lato');
}

body {
	display: flex;
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

/*Наша оболочка*/
.wrapper {
	width: 100%;
	height: 950px;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
}

/*Плашка шапки*/
.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #fff;
	z-index: 3;
}

.header {
  width: 100%;
	height: 80px;
	box-shadow: 0px 0px 10px #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1180px;
	margin: 0 auto;
}

.header__body {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
}

/*Стилизация логотипа*/
.header__logo {
	height: 80px;
   display: flex;
   justify-content: flex-start;
   padding-left: 15px;
   position: relative;
   z-index: 5;
}

.header__icon img {
	width: 50px;
	height: 50px;
}

.header__span {
	display: flex;
	align-items: center;
}

.header__span-main {
	font-size: 25px;
	font-family: 'Lato-Bold', sans-serif;
	font-weight: bolder;
}

/*Кнопка бургер*/
.header__burger {
	margin-right: 15px;
	width: 30px;
	height: 16px;
	order: 2;
	display: flex;
	align-items: center;
}

.header__burger span {
	display: none;
	height: 2px;
	width: 30px;
	background-color: #000;
}

.header__menu {
	height: 100%;
	order: 1;
	padding: 0 10px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 4;
}

.header__list li {
	list-style: none;
	padding-right: 20px;
	text-align: right;
}

#home {
	color: #ee1b52;
}

.header__link {
	color: #000;
	font-family: 'Lato-Regular', sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#header__link {
	white-space: pre;
}

.article {
	max-width: 800px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.article p {
  font-size: 25px;
  letter-spacing: 3px;
  font-family: monospace;
  margin-top: 12%;
}

.article__span {
  font-family: monospace;
  margin: 30px 15px 0 15px;
  width: 90%;
}

/*Третий блок*/
.container-3 {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 1100px;
}

/*Футер*/
.footer {
  width: 100%;
  height: 100px;
  position: relative;
  top: 900%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: 'Lato-Bold', sans-serif;
}

.footer__container {
  width: 1180px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  height: 70px;
}

.footer__section-1 {
  width: 45%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer__section {
  color: #ee1b52;
}

.footer__section-1 span {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
}

.footer__span-main {
  font-size: 25px;
  color: #000;
  margin: 0 5px 0 0;
}

.footer__section a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

.footer__section a:active {
  padding: 20px;
}

@media (max-width: 1180px) {
  .footer__section a {
    font-size: 15px;
    margin: 0 0 20px 0;
  }
  
  .footer__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 30px;
  }
}
@media (max-width: 768px) {
	 body.lock {
	   overflow: hidden;
	}

	.header__menu {
		position: fixed;
		top: -120%;
		transition: all 0.8s ease 0s;
		width: 100%;
		height: 100%;
		background-color: #191919;
		padding: 0 0 50px 0;
		display: flex;
	  justify-content: center;
	  overflow: auto;
	}

	.header__list {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin: 0 0 0 30px;
		text-align: center;
	}

	.header__list li {
		margin: 30px 0 0 0;
		font-size: 40px;
	}

	.header__list li:hover {
		color: #69c9d0;
	}

	#home {
		position: relative;
		color: #fff;
	}

	.header__link {
      color: #fff;
	}

	.header {
		height: 50px;
	}

	.header::before {
		box-shadow: 0px 0px 10px #fff;
	}

	.header__logo {
    height: 50px;
	}

	.header__icon img {
    width: 35px;
    height: 35px;
	}

  .header__burger {
   	display: block;
   	position: relative;
   	width: 30px;
   	height: 16px;
   	z-index: 3;
  }

   .header__burger span {
   	 display: block;
   	 position: absolute;
   	 background-color: #000;
   	 left: 0;
   	 width: 100%;
   	 height: 2px;
     top: 7px;
     transition: all 0.8s ease 0s;
   }

   .header__burger::before,
   .header__burger::after {
     content: '';
     background-color: #000;
     position: absolute;
     width: 100%;
     height: 2px;
     left: 0;
     transition: all 0.4s ease 0s;
   }

   .header__burger::before {
   	 top: 0;
  }

   .header__burger::after {
   	 bottom: 0;
  }

   .header__burger.active::before {
   	 transform: rotate(45deg);
     top: 7px;
  }

   .header__burger.active::after {
   	 transform: rotate(-45deg);
   	 bottom: 7px;
  }

   .header__burger.active span {
   	transform: scale(0);
  }

   .header__menu.active {
   	top: 0;
  }
  
   .footer__span {
     font-size: 15px;
     letter-spacing: 2px;
   }
  
   .footer__span-main {
     font-size: 15px;
   }
  
   .footer__section a {
     font-size: 12px;
   }
  
   .footer__section-1 span {
     font-size: 12px;
   }
}

@media (max-width: 455px) {

   .header__list li:hover {
		color: #ee1b52;
	}

	.header__list li {
		font-size: 20px;
	}

	.header::before {
		height: 50px;
	}

	#home {
		position: relative;
	}
	
	.footer {
	  height: 180px;
	  position: relative;
	  top: 1100%;
	}
	
	.footer__section {
	  flex-direction: column;
	}
	
	.footer__section a {
	  margin: 0 0 10px 0;
	}
	
	.footer__section-1 {
	  margin: 20px 0 0 0;
	}
	
	.footer__span {
	  font-size: 12px;
	  letter-spacing: 1px;
	  margin: 0 0 10px 0;
	}
	
	.footer__span-main {
	  font-size: 12px;
	}
	
	.footer__section a {
	  font-size: 12px;
	}
	
	.footer__section-1 {
	  font-size: 9px;
	}
}